        ALLCAndCplusPlusWS/
        ALL_SOURCE_CODES_OF_VARIOUS_SOFTWARES/
        APACHE_TOMCAT/
        Apache_httpd/
        CSS_STUDIES/
        Eclipse/
        H2Database/
        HTML_STUDIES/
        HttpClient/
        IP-DIR/
        JAVA_Decompiler/
        JAVA_SCRIPT_STUDIES/
        JSON_STUDIES/
        SparkExamples/
        apache-maven-3.3.9-bin/
        apache-openjpa-2.4.1-binary/
        apache-tomcat-8.0.33/
        carrot2-master/
        carrot2-workbench-win32.win32.x86_64-3.1
        commons-dbcp2-2.1.1-bin/
        commons-pool2-2.4.2-bin/
        dom4j-1.6.1/
        fop-2.1-bin/
        hibernate-release-5.1.0.Final/
        hibernate-validator-5.2.4.Final-dist/
        mysql-5.7.10-winx64/
        mysql-connector-java-5.1.38/
        slf4j-1.7.21/
        solr-6.5.1/
        sonarqube-5.2/
        spark-2.1.0-bin-hadoop2.7/
        spring-framework-4.2.4.RELEASE-dist/
        xstream-distribution-1.4.9-bin/