<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  
	<bean class="com.vipin.point.Point"/>
	
	<!-- <bean id="pointBean" class="com.vipin.point.Point"/> -->
	
	<bean id="circleShapeBean" class="com.vipin.shapes.impl.CircleShape" autowire="byType"/>
	
</beans>