<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="pointId" class="com.vipin.point.Point">
   
   	   <!-- This uses setters for setting the values into the fields of the Point class. -->
       <property name="x" value="10"/>
       <property name="y" value="20"/>
   
   	   <!-- This uses two-argument constructor for passing the values into the fields of Point class. -->		
   	   <constructor-arg name="xx" value="100" />
   	   <constructor-arg name="yy" value="200" />
   
   </bean>
	
   <bean id="circleId" class="com.vipin.shapes.Circle">
		
	   <!-- constructor based dependency injection -->
       <!-- <constructor-arg name="pointConArg" ref="pointId"/> -->
       
       <!-- setter injection -->
       <property name="point" ref="pointId"/>
       
  </bean>
   
</beans>